<div class="profile">
    <div class="col-md-4 col-md-offset-4 center">
        <h1 align="center">Hello, <%= @user.username %>!</h1>
     </div>
</div>

<%= render 'tickets/ticket', obj: @user.tickets %>