<div class="about">
    <h1>Smartdesk</h1>
    <p>
    <h5>This application is a great tool to keep track of Smartdesk tickets submitted by users.
    Users have the option to select a category before submitting a ticket.
    Once Smartdesk agents complete the tickets, they are marked as 'completed'.
    Smartdesk agents have the capability to edit and delete users and their tickets. 
    Although, users can see other users' tickets, they only have the option to create, edit and delete their own tickets.
    <br>
    <hr>
    This simple app was designed by Kateryna Strough for Flatiron School - Rails Project, 2019.<br>
    katerynastrough@hotmail.com </h5>
    </p>
<div>
