<h1>Smartdesk</h1>
<h5>This app is a great tool to keep track of help desk tickets submitted by clients.
Clients have the option to select a category before submitting a ticket.
Once smartdesk agents complete the tickets, they are marked as 'completed'
This simple app was designed by Kateryna Strough for Flatiron School - Rails Project.</h5>

<%= link_to 'Home', root_path %>