<h1>Smartdesk Tickets</h1>

<p>
    Title: <%= @ticket.title %>
</p>

<p>
    Description: <%= @ticket.description %>
</p>

<%= link_to "Edit this ticket", edit_ticket_path(@ticket) %> |
<%= link_to "See all Smartdesk tickets", tickets_path %>