@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    text-align: center;
}

body {
    background-color: #07d;
    background-image: asset-url('pictures/Helpdesk1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-size: cover;
    height: 300px;
}

.ticket-meta-details {
    border_top: 1px solid #earara;
    background-color: #E0E0E0;
    margin-top: 8px;
}

.profile {
    color: rgb(8, 29, 48);
    font-family: "Times New Roman", Times, serif;
}

.listing {
    list-style-type: circle;
}