<span class="category"><%= link_to category.name, category_path(category) %>  </span>
</br>
<button type="button" class="btn btn-secondary"><%= link_to "Create Ticket", new_category_ticket_path(category) %></button>