<h1 align="center"><%= @category.name %></h1>

<div align="center">
  <% if logged_in? && current_user.agent? %>
    <div class="row">
      <span class="category"><%= link_to "Edit category name", edit_category_path(@category) %></span>
    </div>
  <% end %>
</div>